<a href="https://colab.research.google.com/github/SyedHassanRaza67/Python-Learning/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list functions     (Data Analysis)

# print first two rows

matrix =[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
new =matrix[0][1]
print(new)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# print center column

matrix =[
    [1, 2, 3],
    [4, 2, 5],
    [6, 2, 7]
]
new =matrix[0][1]
print(new)

2

In [ ]:
matrix =[
    ["Orange", "Mango", "Guava"]
    ["Apple1", "Apple2", "Apple3"]
    ["Orange1", "Orange2", "Oravne3"]
]
new = matrix[0]
print(new)

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-35-e71e0891c95a>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["Orange", "Mango", "Guava"]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
#Appent items

fruits =["apple", "apple2", "apple3"]
fruits.append("New Apple")
print(fruits)

['apple', 'apple2', 'apple3', 'New Apple']

In [ ]:
#insert

inserte =["insert1", "insert2", "insert3"]
inserte.insert(1, "newItem")
print(inserte)

['insert1', 'newItem', 'insert2', 'insert3']

In [ ]:
#extend

item1 =["a", "b", "c"]
item2 =["d", "e", "f"]
item1.extend(item2)
print(item1)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
#Remove

School = ["ali", "Hassan", "Raza"]
School.remove("Raza")
print(School)

['ali', 'Hassan']

In [ ]:
#Pop

School = ["Ali", "Hassan", "John", "Zack"]
School.pop(2)
print(School)

['Ali', 'Hassan', 'Zack']

In [ ]:
#Del

college =["Sumaya", "Sumreen", "Bisma"]
college.del()
print(college)

SyntaxError: invalid syntax (<ipython-input-63-5c9c1a1c03dc>, line 4)

In [ ]:
#clear

School = ["Ali", "Hassan", "John", "Zack"]
School.clear()
print(School)

[]

In [ ]:
#sort list

sorting =["banana", "apple", "mango", "pinapple"]
sorting.sort()
print(sorting)

['apple', 'banana', 'mango']

In [ ]:
#sort list

sorting =[1, 2, 3, 4]
sorting.sort()
print(sorting)

[1, 2, 3, 4]

In [ ]:
#Reverse in order to alphabates

sorting =["banana", "apple", "mango", "pinapple"]
sorting.sort(reverse = True)
print(sorting)

['pinapple', 'mango', 'banana', 'apple']

In [ ]:
#Case Sensitive sort (Pinapple is on the first because the ASCII number is low so it come first)

sorting =["banana", "apple", "mango", "Pinapple"]
sorting.sort()
print(sorting)

['Pinapple', 'apple', 'banana', 'mango']

In [ ]:
#Reverse in order to values

sorting =["banana", "apple", "mango", "pinapple"]
sorting.reverse()
print(sorting)

['pinapple', 'mango', 'apple', 'banana']

In [ ]:
#copy the original value not changed so the data is safe we easily edit or chagnes

sorting =["banana", "apple", "mango", "pinapple"]
sorting.copy()
print(sorting)

['banana', 'apple', 'mango', 'pinapple']

In [ ]:
#Concatination

sorting1 =["banana", "apple", "mango", "pinapple"]
sorting2 =[1, 2, 3, 4]
new = sorting1 + sorting2
print(new)

['banana', 'apple', 'mango', 'pinapple', 1, 2, 3, 4]

In [ ]:
#Concatination method 2

sorting1 =["banana", "apple", "mango", "pinapple"]
sorting2 =[1, 2, 3, 4]
sorting1.extend(sorting2)
print(sorting1)

['banana', 'apple', 'mango', 'pinapple', 1, 2, 3, 4]

In [ ]:
#Copy

sorting =["banana", "apple", "mango", "pinapple"]
new = sorting.copy
print(new)

<built-in method copy of list object at 0x7a34cddc00c0>

In [1]:
# Tupples

fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [4]:
print(fruits[-1])

cherry

In [6]:
numbers = (1, 2, 3, 4, 5, 6)
print(numbers[1:3])

(2, 3)

In [8]:
# Tuples support basic operations like concatenation and repetition

one = ("a", "b", "c")
two = ("d", "e", "f")
final = one + two
print(final)

('a', 'b', 'c', 'd', 'e', 'f')

In [13]:
#Repeat Tuples

tuppl= (1, 2) *2
print(tuppl)

(1, 2, 1, 2)

In [15]:
# in
new = ("Ali", "Hassan", "Farhan")
print ("Hassan" in new)

True

In [19]:
#Tupple Methods Although tuples are immutable, they support some useful methods

number = (1, 2, 3, 4, 5, 6, 3)
print(number.count(3))

print (numbers.index(3))

2
2

In [29]:
#converting Tupples into List

school = ('ali', 'hassan', 'farhan')
new = list(school)
school[1]="John"
school=tuple(new)
print(school)

TypeError: 'tuple' object does not support item assignment

In [30]:
# , is necessary in tuples
x= ('a',)
print(x)
print(type(x))

('a',)
<class 'tuple'>

What is Dictionary?
A dictionary (dict) is an unordered, mutable collection of key-value pairs.

Key Characteristics:
Uses keys to store and retrive values.
key must be unique adn immutable (not editable)

In [54]:
#Dictionary: is a collection fo Key-Value Pairs(items)

student = {
    "name": "Zack", "class": "tenth", "age": "44", "country": "United States", "region": "London"
}
# print(student)
# student["name"]
# del student["country"]
# print(student)
# print (student.get("class"))
# print (student.keys())
# print (student.values())

dict_keys(['name', 'class', 'age', 'country', 'region'])
dict_values(['Zack', 'tenth', '44', 'United States', 'London'])

In [62]:
print (student.items())
# student.update({"age": "12", "region": "Paris"})
# print(student)

dict_items([('name', 'Zack'), ('class', 'tenth'), ('age', '12'), ('country', 'United States'), ('region', 'Paris')])